
/* Your CSS Code here. */
table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align:start;
	padding:5px 5px
}
table{
		widht:100%;
}
th{
	background-color: lightcoral;
}
tr:nth-child(odd){
	background-color:blanchedalmond;
}
tr:nth-child(even){
	background-color:lightcyan;
}